h1{
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif ;
    font-size: x-large;
    text-align: center;
}
h2{
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif ;
    font-size: larger;

}
h3{
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif ;
    font-size: large;
   
}
p{
    color: rgb(20, 20, 20);
}
body{
    background-color: white;
}
#encabezado{
    background-color:white;
}
.tipoletra{
    font-size: large;
    color: rgb(20, 20, 20);
    padding: 15px;
    width: 80%;
  
}
li{
    font-size: large;
    color: rgb(20, 20, 20);

}
img{
    background-color:lightcyan;
    border-radius: 600px;
    border: solid 1px;
    padding: 3px;
    width: 200px;
    height: 200px;
    margin-left: 130px;
}
.navboton{
    background-color:lightcyan;
    text-decoration: none;
}
nav{
    display: flex;
    gap: 20px;
}
footer{
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: gray;
    padding: 20px;
}
nav{
    background-color: lightcyan;
    padding: auto;
    max-width: 460px;
   
}
